body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

section {
  width: 80%;
  margin: 0 auto;
}

h2 {
  margin-bottom: 10px;
}

form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 5px;
}

input,
textarea {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}

button.submit, button.change {
  background-color: black;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
}

button.submit:hover, button.change:hover {
  background-color: #45a049;
}

.post,
.comment,
.todo-item {
  position: relative;
  max-width: 600px;
  margin: 0 auto;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 15px;
}

.post h4,
.todo-item h5 {
  color: #333;
  margin-bottom: 5px;
}

.post h5 {
  color: #555;
  margin-bottom: 10px;
}

.post p,
.todo-item p {
  color: #777;
}

button.delete {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  font-size: 14px;
  cursor: pointer;
}

button.delete:hover {
  background-color: #d32f2f;
}

.post a,
.todo-item h5 {
  text-decoration: none;
  color: #2196F3;
}

.post a:hover,
.todo-item h5:hover {
  text-decoration: underline;
}

h2,
.todo-container h2 {
  margin-bottom: 10px;
  text-align: center;
}

.album {
  border: 1px solid #ddd;
  padding: 15px;
  margin: 0 auto;
  position: relative;
  text-align: left;
  width: 60%;
}

p,
.todo-item p {
  margin-top: 5px;
  margin-bottom: 10px;
}

.section {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

.photo {
  position: relative;
  width: 100%;
}

.photo img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.return {
  background-color: #303131;
  color: white;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.return:hover {
  background-color: #45a049;
}

article.album {
  width: 50%;
}

.error {
  color: red;
}

.todo-container {
  text-align: center;
}

.todo-item h5 {
  font-size: 1rem;
  cursor: pointer;
  margin: 0;
  margin-top: 1rem;
}

.todo-item {
  margin-bottom: 10px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #f8f8f8;
}

h1 {
  text-align: center;
}

.todo-item h5.completed {
  text-decoration: line-through;
  color: green;
}

.todo-item h5.incomplete {
  color: red;
}
